@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

hr {
    @include border-color($green_darkest);
    border-top: 2px solid $green_darkest;
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
    display: block;
}

section {
    position: relative;
    font-family: $primary-font;
    display: block;
    min-width: 100%;
    width: 100%;
}

.nav-small {
    @include fontSize(0.9em);
}

.nav-large {
    @include fontSize(1.3em);
}

nav {
    font-family: $primary-font;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;

        li {
            @include float-element(left);
            height: 100%;
            border-right: 1px solid #222;
            border-color: $green_medium;
        }

        li:last-child {
            @include float-element(right);
            border-right: none;
        }

        li a {
            height: 100%;
            display: inline-block;
            text-align: center;
            color: black;
            text-decoration: none;
            padding: 10px 10px;
        }
    }
}

.main-header {
    display: block;
    padding: 3% 0 0.5% 0;
    position: relative;
    z-index: 50;
    background-color: white;

    h1 {
        @include fontSize(4em);
        display: inline;

        small {
            @include fontSize(0.6em);
            font-family: $pretty-front-1;
            padding-left: 5%;
        }
    }
}

.column {
    position: relative;
    height: 360px;

    .col {
        @include wh(33%, 100%);
        background-color: white;
        display: inline-block;
        position: absolute;

        hr {
            @include border-color($turq_light);
            border-top: 2px solid $turq_light;
            width: 75%;
            margin: auto;
        }

        h2 {
            @include fontSize(1.75em);
            padding: 15px 0 15px 0;
            text-align: center;
        }

        p {
            padding: 10px;
            text-align: center;
            line-height: 150%;
        }

        img {
            @include wh(100px, 100px);
            padding: 40px 0 20px 0;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.band {
    @include wh(100%, 300px);
    background-color: white;
    border-top: 4px solid $green_darkest;
    margin: 0 0 20px 0;

    h2 {
        @include fontSize(4em);
        text-align: center;
        padding: 40px 0 20px 0;
    }

    p {
        @include fontSize(1.5em);
        text-align: center;
        line-height: 150%;
        padding: 15px 50px 35px 50px;
    }

    hr {
        @include border-color($turq_light);
        width: 75%;
        margin: auto;
        border-top: 2px solid $turq_light;
    }

}

#opener {
    @include vertical-align();
    @include wh(350px, 400px);
    position: absolute;
    background-color: white;
    border: 2px solid $green_darkest;
    right: 10px;
    -webkit-box-shadow: 0 10px 8px -6px black;
       -moz-box-shadow: 0 10px 8px -6px black;
            box-shadow: 0 10px 8px -6px black;

    div {
        margin: auto;
        width: 85%;

        hr {
            width: 75%;
            margin: auto;
            border-top: 2px solid $turq_light;
            border-color: $turq_light;
            background-color: $turq_light;
        }

        h2 {
            padding: 10px 0 10px 0;
            text-align: center;
            margin: auto;
            @include fontSize(2em);
        }

        ul {
            li {
                padding: 20px 0 20px 0;
                text-align: center;
            }
        }
    }
}

#col-1 {
    left: 0%;
}

#col-2 {
    left: 33.33%;
}

#col-3 {
    left: 66.66%;
}

.social {
    float: right;
    border-right: none;
}

.active {
    background-color: $green_medium;
    color: white;
}

.login-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    border: 4px solid $green_darkest;
}

.login-modal:target {
    opacity:1;
    pointer-events: auto;
}

.login-modal > div {
    @include wh(50%, 40%);
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: white;
    text-align: center;
    border: 4px solid $turq_med;

    img {
        height: 200px;
        margin: auto;
        padding: 20px 0 20px 0;
    }

    h2 {
        font-family: $primary-font;
        @include fontSize(4em);
        text-align: center;
    }

    p {
        font-family: $primary-font;
        text-align: center;
    }
}

.close {
    color: #EB6841;
    @include fontSize(1.5em);
    text-decoration: none;
    padding: 3% 0 3% 0;
}

.footer {
    @include wh(100%, 100px);
    background-color: $turq_light;
    text-align: center;

    ul {
        @include vertical-align();
        margin: auto;
        list-style-type: circle;

        li {
            @include fontSize(1.25em);
            display: inline-block;
            padding: 0 30px 0 10px;
            right: 0;
            text-align: center;
        }

        a {
            color: #F0DDAA;
            text-decoration: none;
        }

    }

}

#experts {
    height: 750px;
    position: relative;
    text-align: center;

    .fixed {
        background:url(../media/background-1.png) top right 
        no-repeat; 
        background-attachment:fixed; 
        background-size:cover;
        height: 100%;
        -webkit-filter: blur(40%);
        filter: blur(40%);
    }

    .reviews {
        @include vertical-align();
        @include wh(100%, 65%);
        position: absolute;
        background-color: white;
        margin: auto 0;
    }
}

